<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="container mt-5 mb-5">
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row g-0">
          <div class="col-md-12">
            <h1 class="text-center">User Profile</h1>
            <div class="card p-3 mb-3">
              <h3 class="card-title">User Information</h3>
              <p><strong>Name:</strong> {{user.name}}</p>
              <p><strong>Email:</strong> {{user.email}}</p>
              <p><strong>Address:</strong> {{user.address}}</p>
              <p><strong>Password:</strong> {{user.password}}</p>
              <p><strong>Phone:</strong> {{user.phone_number}}</p>
            </div>

            <div class="d-flex justify-content-center">
              <a href="/home" class="btn btn-primary">Go Back to Shop</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
